body{
    background: linear-gradient(to left,rgba(210, 104, 180, 0.9),rgba(54, 38, 146, 0.9));
}
.heading{
    width: 40vw;
    margin: auto;
    text-align: center;
    background-color: rgb(116, 204, 236,0.9);
    border-radius: 20px;
}
h1{
    text-align: center;
    background-color: red !important;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 4vw;
    text-shadow: -2px 2px 10px rgb(53, 52, 52);
    border: 2px solid black;
    border-radius: 20px;
    padding-bottom: 5px;
}
.r1{
    display: flex;
}
.sec{
    min-width: auto;
    max-width: auto;
}
.calc{
    width: 50%;
    min-width: 40vw;
    max-width: 40%;
    min-height: 40%;
    max-height: 80vh;
    margin: auto;
    padding: auto;
    border: 2px solid black;
    border-radius: 20px;
    overflow: hidden;
}
.display1, .display2, .display{
    min-width: 39vw;
    min-height: 10vh;
    font-size: 3vw;
    padding-right: 10px;
    border: none;
    text-align: right;
    background-color: rgb(148, 155, 155,0.2);
    transition: all 1s;
}
.display2{
    color: black !important;
}
.display1{
    color: rgb(34, 33, 33,0.5);
}
.button{
    min-width: 10vw;
    min-height: 10vh;
    font-size: 3vw;
    background: linear-gradient(rgba(35, 35, 35), rgb(40, 40, 40));
    color: white;
    border: none;
}
.button:hover{
    background: linear-gradient(rgba(50, 50, 53), rgb(55, 55, 55));
}
.purple{
    background: linear-gradient(rgba(115, 74, 167), rgb(117, 80, 166));
    color: white;
}
.purple:hover{
    background: linear-gradient(rgba(135, 94, 187), rgb(137, 100, 186));
}
.yellow{
    background: linear-gradient(rgb(240, 213, 11),rgb(244, 130, 0));
    min-width: 20vw;
}
.yellow:hover{
    background: linear-gradient(rgb(270, 243, 41),rgb(274, 160, 30));
}